*{
	padding: 0;
	margin-top: 0;
	font-family: sans-serif;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: green;
}
.medsos	ul li {
	display: inline-block;
	color: white;
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}
header{
}
header h1{
	float: left;
	padding: 10px 0px;
	color: green;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: green;
	color: #fff;
}
.active{
	background-color: green;
	color: #fff;
}
.banner{
	height: 80vh;
	width: 200vh;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
}
section{
	padding: 10px 0;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: green;
}
.about p{
	padding: 25px;
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}
.contact{
	background-color: green;
}
footer{
	padding: 30px 0;
	background-color: green;
	color: black;
	text-align: center;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

.light-mode {
    background-color: #fff;
    color: #000;
}


/* Gaya tombol Terapkan */
#themeForm button[type="submit"] {
    background-color: #4CAF50; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 10px 20px; /* Ukuran padding */
    border: none; /* Tanpa border */
    border-radius: 5px; /* Sudut bulat */
    cursor: pointer; /* Kursor pointer saat dihover */
    transition: background-color 0.3s; /* Transisi saat dihover */
}

#themeForm button[type="submit"]:hover {
    background-color: #45a049; /* Warna latar belakang saat dihover */
}

/* Gaya tombol Edit dan Delete */
.action-button {
    background-color: #007BFF; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    padding: 5px 10px; /* Ukuran padding */
    border: none; /* Tanpa border */
    border-radius: 5px; /* Sudut bulat */
    cursor: pointer; /* Kursor pointer saat dihover */
    transition: background-color 0.3s; /* Transisi saat dihover */
    margin-right: 5px; /* Jarak antara tombol */
}

.action-button:hover {
    background-color: #0056b3; /* Warna latar belakang saat dihover */
}
